@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #485488;
    --cor2: #308280;
    --cor3: #151515;
    --cor4: #222222;
    --cor5: #272727;
    --cor6: #2c2c2c;
    --cor7: #c0bfbc;
    --cor8: #000000;
    --cor9: #ffffff;
}

body, html {
    background-image: linear-gradient(60deg, var(--cor1) 0%, var(--cor2) 100%);
    height: 250vh;
    width: 100%;
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    background-color: var(--cor3);
    z-index: 10;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 60px;
    height: auto;
    margin: 10px;
}

.logo h1 {
    color: var(--cor9);
    font-family: 'Bebas Neue';
}

.logo .titulo {
    color: var(--cor2);
}

.navbar a {
    font-family: 'Ubuntu';
    text-decoration: none;
    padding: 10px;
    background-color: var(--cor4);
    border-radius: 3px;
    color: var(--cor7);
    transition: 0.5s;
}

.navbar a:hover {
    background-color: var(--cor6);
}

.burgericon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 20px;
}

.burgericon span {
    width: 33px;
    height: 5px;
    border-radius: 4px;
    background-color: var(--cor9);
    transition: .5s;
}

.burgericon.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.burgericon.active span:nth-child(2) {
    width: 0px;
}

.burgericon.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.burgerbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 0px;
    position: absolute;
    top: 90px;
    right: 0px;
    background-color: var(--cor3);
    overflow: hidden;
    transition: .5s;
}

.burgerbar.active {
    height: 100vh;
}

.burgerbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Ubuntu';
    text-decoration: none;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: var(--cor4);
    border-radius: 3px;
    color: var(--cor7);
    transition: 0.5s;
}

.burgerbar img {
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.burgerbar a:hover {
    background-color: var(--cor6);
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }    

    .burgericon {
        display: flex;
    }
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px !important;
    padding: 30px;
    width: calc(100% - 20px);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--cor3);
    position: relative;
    box-shadow: 2px 2px 2px var(--cor6);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px !important;
    color: var(--cor9);
    font-family: 'Bebas Neue';
    font-size: 2em;
    position: absolute;
    top: -35px;
    background-color: var(--cor6);
    padding: 15px;
    border-radius: 10px;
}

.section img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.descricaocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: var(--cor1);
    font-family: 'Ubuntu';
    font-weight: lighter;
}

.descricaocard h2 {
    background-color: var(--cor6);
    padding: 10px;
    border-radius: 5px;
    color: var(--cor7);
    margin: 10px;
    font-size: 1em;
}

.descricaocard p {
    color: var(--cor7);
    text-indent: 30px;
    text-align: justify;
    max-width: 500px;
}

.descricaocard a {
    text-decoration: none;
}

.servicoscontato p {
    border-top: 2px solid var(--cor8);
    padding: 10px;
    margin: 30px;
    text-align: justify;
    color: var(--cor7);
}

.cardcontato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: var(--cor6);
}

.cardcontato img {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

.cardcontato h2 {
    font-size: 1em;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: var(--cor3);
    margin-top: -20px;
}

.rodape h1 {
    color: var(--cor9);
    font-family: 'Bebas Neue';
}

.rodape .titulo {
    color: var(--cor2);
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 250px;
}

.redes .cardredes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes .cardredes img {
    width: 40px;
    height: auto;
    margin: 10px;
}

.redesnav {
    width: 100vw;
    height: 300px;
    margin-top: 100px;
}

.redesnav a {
    padding: 0px;
}

.whatsappbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsappbtn img {
    width: 50px;
    height: auto;
    animation: whatsupdown 3s linear infinite ;
}

@keyframes whatsupdown {
    
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }   
}